* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif;
}
body {
  background-color: #fff0f4;
}

.grid {
  background-color: #fcfaf5;
  height: 100vh;
  max-width: 88rem;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 200px auto 1fr auto;
  grid-template-columns: 1fr auto;
  grid-template-areas: "head head"
                      "title title"
                      "blog recipe"
                      "footer footer";
  grid-gap: 1rem;
}

h1, h2 {
  font-family: "Playfair Display", serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
}
a {
  color: #5f3a3f;
}
a:hover {
  text-decoration: none;
}
header a {
  text-decoration: none;
}
header a:hover {
  text-decoration: underline;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  grid-area: head;
  border-bottom: 10px dotted #5f3a3f;
}
.headrow1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.headrow1 > * {
  margin: 2rem;
}
nav ul {
  display: flex;
  list-style: none;
}
.main li+li::before {
  content: "-";
  margin: .5rem;
}
.breadcrumb {
  display: flex;
}
.breadcrumb > * {
  margin: 0 2rem;
}
.tree li+li::before {
  content: ">";
  margin: .5rem;
}
.attrib li::after {
  content: "x";
  color: #ff5986;
  font-size: .5rem;
  vertical-align: super;
  margin: 0 .5rem 0 .2rem;
}

.title {
  grid-area: title;
  padding: 0 4rem;
}
.title img {
  display: none;
}
.contents {
  display: contents;
  max-height: 100%;
  overflow: hidden;
}
.blog {
  grid-area: blog;
  overflow-y: scroll;
  padding: 0 4rem;
}
.blog img {
  max-width: 100%;
  max-height: 50vh;
  float: left;
  padding: 1rem;
}
.blog p {
  margin: 2rem 0;
  max-width: 42rem;
  min-width: 20rem;
  line-height: 1.5rem;
}
.blog p::first-letter {
  font-size: 3.5rem;
  font-family: "Playfair Display", serif;
  float: left;
}

label[for=switch] {
  display: none;
  writing-mode: vertical-lr;
  font-size: 1.2rem;
  transform: rotate(180deg);
  max-width: 1.5rem;
}
#switch {
  display: none;
}

.recipe {
  width: auto;
  overflow-y: scroll;
  padding: 0 4rem;
  width: 30rem;
}
.recipe > div {
  margin: 2rem 0;
}
.recipe > div:not(:last-of-type) {
  border-bottom: 2px dashed #5f3a3f;
}
.recipe li {
  margin: .5rem 0;
  line-height: 1.5rem;
}

footer {
  grid-area: footer;
  justify-self: end;
  padding: .5rem 1rem 1rem 1rem;
}

@media only screen and (max-width: 1080px){
  .recipe, .blog {
    padding: 0 2rem;
  }
}
@media only screen and (max-width: 860px){
  .headrow1, .breadcrumb {
    flex-direction: column;
    align-items: center;
  }
  .headrow1 > * {
    margin: .5rem;
  }
  .grid {
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "head"
                        "title"
                        "contents"
                        "footer";
  }
  .contents {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: flex-start;
    grid-area: contents;
  }
  .blog, .recipe {
    overflow: hidden;
    grid-area: none;
    width: 100%;
  }
  .blog img {
    display: none;
  }
  .title img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
  }
  .title h2 {
    position: absolute;
    z-index: 10;
    background-color: rgba(252, 250, 245, .4);
    padding: 1rem;
  }
  label[for=switch]{
    display: block;
  }
  #switch:checked ~ .recipe {
    display: block;
  }
  #switch:checked ~ .blog {
    display: none;
  }
  #switch:not(:checked) ~ .recipe {
    display: none;
  }
  #switch:not(:checked) ~ .blog {
    display: block;
  }
  -webkit-scrollbar,
  -webkit-scrollbar-track {
    display: block !important;
  }

}
